*{
    margin: 0;
    padding: 0;
}

.bordesGuia{
    border-style: solid;
    border-color: black;
}

#cabeceraChat{
    padding: 20px;
}

#cuerpoChat{
    width: 700px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

#botonesChat{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#textarea1{
    height: 100px;
    width: 100%;
}